<div *ngIf="recentlyRentedMovies.length !== 0
      && userAuthentication.user !== null" class="container-fluid row">
  <br/>
  <h4>Your Recently Rented Movies</h4>
</div>
<div class="card-group">
  <div *ngFor="let movie of recentlyRentedMovies" class="col-sm-12 col-md-4 col-lg-2 d-flex align-items-stretch">
    <div class="card custom-card">
      <div class="card-header">
        <button class="btn btn-sm btn-success">Watch Now</button>
      </div>
      <img class="card-img-top image img-fluid" [src]="'https://image.tmdb.org/t/p/w342/' + movie.posterUrl"
           (error)="brokenImage($event)"/>
      <div class="card-body middle">
        <h5 class="card-title">
          {{movie.name}}
        </h5>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-success" (click)="showDetails(movie.movieId)">View Details</button>
      </div>
    </div>
  </div>
</div>
